    <div id="footer">
      <div class="container text-center"><div>© 2014 Company, Inc.</div><div><strong>Hackathon Starter for Rails Developer</strong> Project·
	  Created by<a href="http://www.moongift.jp/"> MOONGIFT</a></div><div>Code licensed under<a href="http://opensource.org/licenses/mit-license.html"> MIT License</a>. 
	<a href="https://github.com/moongift/hackathon-starter-rails">GitHub Project</a> ·<a href="https://github.com/moongift/hackathon-starter-rails/issues"> Issues</a></div></div>
    </div>
